dependency-reduced-pom.xml
logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
*/RUNNING_PID
/.settings

pom.xml.releaseBackup
release.properties
pom.xml.versionsBackup
dependency-reduced-pom.xml
test_cache
